@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Variables */
:root {
  --primary: #18212E;
  --secondary: #1f2d40;
  --third: #304462;
}

/* Reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Base styles */
body {
  overflow-x: hidden;
  font-family: 'Rubik';
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
  background-color: var(--primary);
  color: var(--third);
}

h1,
h2,
h3,
h4 {
  /* color: var(--secondary); */
  font-weight: normal;
}